/* Global CSS */
body {
    margin: 50px 140px 0px;
}

section {
    margin-top: 120px;
}


/* Header CSS */
.header-banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    border-radius: 16px;
}

.head-title-1 {
    color: #fff;
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    padding-top: 177px;
    font-family: "Merriweather", serif;
}

.head-title-2 {
    color: #fff;
    text-align: center;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    padding-left: 344px;
    font-family: "Merriweather", serif;
}

/* All category css */

.all-categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
}

.category-text {
    color: #F00;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.category-subtitle {
    color: #070211;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 48px;
    font-weight: 700;
    margin-top: 8px;
}

.category-img {
    width: 802px;
    height: 500px;
}

/* 2nd banner css */
.second-banner-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Vectorrr.png");
    width: 100%;
    height: 600px;
    display: flex;
}

.second-banner-left {
    margin-left: 125px;
    margin-top: 100px;
}

.second-banner-right {
    margin-top: 75px;
}

.second-banner-title {
    color: #FFF;
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    width: 642px;
    margin-bottom: 24px;
}

.second-banner-text {
    color: rgba(255, 255, 255, 0.80);
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 0;
    margin-bottom: 48px;
}

.btn-second-banner {
    color: #FFF;
    text-align: center;
    font-family: 'Inter', sans-serif;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 0;
}

/* party-schedule CSS */
.party-schedule-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 100%;
    height: 482px;
    text-align: center;
}

.party-schedule-details>h4 {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
    font-family: 'Inter', sans-serif;
}

.party-schedule-details h4>span {
    color: #F00;
}

.place {
    padding-top: 100px;
}

.date {
    margin-top: -30px;
}

.time {
    margin-top: -30px;
}

.btn-party-schedule {
    border: none;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: white;
   
}