/* Global CSS */
body {
    padding: 0;
    margin: 0;
}

section {
    margin-top: 120px;
    margin-left: 140px;
    margin-right: 140px;
}

header {
    margin-top: 50px;
    margin-left: 140px;
    margin-right: 140px;
}

button {
    cursor: pointer;
}

h1,h2,h3 {
    font-family: "Merriweather", serif;   
}

h4, p {
    font-family: 'Inter', sans-serif;
}


/* Header CSS */
.header-banner-container {
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0) 100%),
        url(resources/Banner\ Image.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.head-title-1 {
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    padding-top: 120px;
    margin-bottom: 10px;
}

.head-title-2 {
    color: #fff;
    font-size: 72px;
    font-weight: 900;
    line-height: 95px;
    width: 632px;
    /* padding-left: 344px; */
    margin-top: 0;
}

/* All category css */

.all-categories-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.category-title {
    color: #F00;
    text-align: center;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 0;
    font-family: 'Inter', sans-serif;
}

.category-text {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 48px;
    margin-bottom: 0;
}

.category-subtitle {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 8px;
}

.category-img {
    width: 802px;
    height: 500px;
}

/* 2nd banner css */
.second-banner-container {
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%), url("resources/Vectorrr.png");
    width: 100%;
    height: 600px;
    display: flex;
}

.second-banner-left {
    margin-left: 125px;
    margin-top: 100px;
}

.second-banner-right {
    margin-top: 75px;
}

.second-banner-title {
    color: #FFF;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    letter-spacing: 7px;
    width: 642px;
    margin-bottom: 24px;
}

.second-banner-text {
    color: rgba(255, 255, 255, 0.80);
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    width: 697px;
    margin-top: 0;
    margin-bottom: 48px;
}

.btn-second-banner {
    color: #FFF;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    background: none;
    border: none;
    margin-top: 0;
}

/* party-schedule CSS */
.party-schedule-container {
    background: linear-gradient(180deg, rgba(255, 0, 0, 0.10) 0%, rgba(255, 0, 0, 0.00) 100%);
    width: 100%;
    height: 482px;
    text-align: center;
}

.party-schedule-details>h4 {
    color: #070211;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.party-schedule-details h4>span {
    color: #F00;
}

.place {
    padding-top: 100px;
}

.date {
    margin-top: -30px;
}

.time {
    margin-top: -30px;
}

.btn-party-schedule {
    border: none;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    color: white;
}

/* Coming soon CSS */
.coming-soon-container {
    display: flex;
}

/* left part */
.coming-soon-left .coming-soon-tile {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    padding-top: 55px;
}

.coming-soon-left .coming-soon-headline {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin: 0;
}

.coming-soon-left .coming-soon-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 393px;
    margin-right: 70px;
    margin-top: 22px;
}

/* mid part */
.coming-soon-mid>img {
    border: 15px solid #F00;
    border-radius: 50%;
    padding: 50px;
    margin-right: 118px;
    width: 250px;
}

/* right part */
.coming-soon-year {
    color: #F00;
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 112px;
}

.coming-soon-right .coming-soon-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 276px;
    margin-bottom: 45px;
}

/* Holiday CSS */
.holiday-text-content {
    text-align: center;
}

.holiday-title {
    color: #070211;
    font-size: 24px;
    font-weight: 500;
}

.holiday-headline {
    color: #070211;
    font-size: 72px;
    font-weight: 900;
    margin-top: 0;
}

.holiday-headline>span {
    color: #F00;
}

.holiday-text {
    color: rgba(7, 2, 17, 0.60);
    font-size: 20px;
    font-weight: 500;
    line-height: 32px;
    width: 1068px;
    text-align: center;
    display: block;
    margin: 28px auto;
}

.top-img {
    background-image: url(resources/Rectangle\ 1.png);
    width: 100%;
    height: 433px;
    background-repeat: no-repeat;
    background-position: right;
    position: relative;
}

.top-img>img {
    position: absolute;
    right: 285px;
    bottom: 20px;
}

.bottom-img {
    background-image: url("resources/Rectangle\ 2.png");
    width: 100%;
    height: 229px;
    position: relative
}

.bottom-img>img {
    position: absolute;
    bottom: 20px;
    height: 550px;
    left: 20px;
}

/* Portfolio CSS */
.portfolio-title {
    color: #F00;
    font-size: 24px;
    font-weight: 500;
    margin-bottom: 0;
}

.portfolio-headline {
    color: #070211;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 16px;
    margin-bottom: 0;
}

.portfolio-text {
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    width: 896px;
    font-weight: 400;
    line-height: 32px;
    margin-top: 22px;
}

.first-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
    margin-bottom: 24px;
}

.second-row {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.portfolio-img {
    width: 400px;
    height: auto;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.portfolio-img:hover {
    transform: scale(1.1);
}

/* Newsletter CSS */
.newsletter-container {
    border-radius: 16px;
    background: rgba(255, 0, 0, 0.05);
    width: 100%;
    height: 616px;
    flex-shrink: 0;
    text-align: center;
}

.mail-img {
    margin-top: 80px;
    margin-bottom: 40px;
}

.newsletter-headline {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
    margin-top: 0;
    margin-bottom: 22px;
}

.newsletter-text {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-size: 20px;
    font-weight: 400;
    line-height: 32px;
    width: 896px;
    display: block;
    margin: 0 auto;
}

.input-div {
    display: flex;
    justify-content: center;
    margin-top: 48px;
}

.input-div>input {
    padding: 25px 400px 25px 30px;
    border: none;
    background: #FFF;
}

.btn-subscribe {
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    border: none;
    padding: 24px 56px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    text-transform: capitalize;
}

footer {
    margin-top: 120px;
}

footer p {
    color: #FFF;
    font-size: 24px;
    font-weight: 500;
    line-height: 40px;
}
.footer-container {
    height: 609px;
    background: #070211;
    padding: 120px 140px 0;
}

.footer-first-part {
    display: flex;
    gap: 560px;
    margin: 0;
}


.address {
    width: 375px;
    height: 80px;
}

.contact p{
    display: inline;
    margin-left: 15px;
}

hr {
    border:1px solid rgba(255, 255, 255, 0.15);
    margin: 50px 0;
    
}

.footer-second-part {
    display: flex;
    justify-content: center;
}
.footer-icon {
    margin-left: 24px;;
}

.footer-third-part {
    display: flex;
    justify-content: space-between;
}
